// cover some element-plus styles
.el-dialog {
  border-radius: 6px !important;

  &__headerbtn .el-dialog__close {
    font-size: 20px;
  }
}

.el-card {
  border-radius: 4px;
}

.el-pager li {
  outline: none !important;
}

.el-alert--info {
  // background: lighten(#{$primary-color}, 40%) !important;
  color: $primary-color !important;
  align-items: flex-start;

  .el-alert__closebtn {
    color: $primary-color !important;
  }

  .el-alert__content {
    padding-right: 10px;
  }
}

.el-table {
  th.el-table__cell {
    background: #f8f8f8;
  }
}

.el-form--inline {
  .el-form-item {
    margin-right: 15px !important;
  }
}

/*隐藏文字*/
.el-menu--collapse .el-submenu__title span {
  display: none !important;
}
/*隐藏 > */
.el-menu--collapse .el-submenu__title .el-submenu__icon-arrow {
  display: none !important;
}



.el-select__popper {
  border: none !important;
}
.el-select-dropdown__list,.el-select-dropdown,.el-scrollbar__view,.el-popper{
  background: #394655;
}
.el-select-dropdown__item{
  color: #D8F0FF !important;
  font-size: 15px !important;
  height: 35px !important;
  justify-content: center !important;
  
  &.hover{
    background: #00000036;
  }
  &.selected{
    background: #0000006c !important;
  }
}

.el-pagination{
	.el-pager{
        
		.number{
			color: #ffffffce !important;
			background-color: transparent !important;
            border: #7AA3CC 2px solid !important;
            border-radius: 4px !important;
			&.is-active{
				color: #fff !important;
				//border: 1px  solid  #3d66e4;
				background: linear-gradient(to bottom, #3A7FFF, #00B6FF ) !important;
				border: 2px solid #74E4F9 !important;
			}
		}
		
	}
	.btn-prev, .btn-next, .more{
        color: #ffffffce !important;
        background-color: transparent !important;
        border: none !important;
        border-radius: 40px !important;
        //border: #7AA3CC 2px solid;
        //border-radius: 4px !important;

    }
    .el-input__inner{
        background-color: transparent !important;
        color: #ffffffce !important;
        border: none !important;
        border-radius: 40px !important;
        //border: #00B6FF 1px solid !important;
    }
    .el-input{
        border:none !important;
        
        background-color: transparent !important;
        color: #ffffffce !important;
    }


    .el-pagination__jump *{
      
        //border: #00B6FF 1px solid !important;
        border: none !important;
        
      
    }
    

        
        // .el-input,.el-input--small,.el-pagination__editor,.is-in-pagination{
        // border: 0px !important;
        // border-radius: 200px;
        // background-color: #21ba45 !important;
        // }  
    
    .el-pagination__total,.el-pagination__jump{
        color: #ffffffce !important;
    }
    
}	
