@font-face {
  font-family: YouSheBiaoTiHei;
  src: url("@/assets/font/YouSheBiaoTiHei.ttf")  format('truetype');
  font-display: swap; ;
}
@font-face {
  font-family: YouSheBiaoTiYuan;
  src: url("@/assets/font/YouSheBiaoTiYuan.otf")  format('truetype');
  font-display: swap; ;
}
@font-face {
  font-family: ALIBABAPUHUITI;
  src: url("@/assets/font/ALIBABAPUHUITI.TTF")  format('truetype');
  font-display: swap; ;
}